<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section>
        <h2>
            <font color="#0375e7">Admin Page</font>
        </h2>
        <hr>
        <br>

    </section>
    <div class="jumbotron-centered">
        <table style="width:80%">
            <tr>
                <th>Studentid</th>
                <th>UserName</th>
            </tr>

            <% students.forEach(function(detail){ %>
                <tr>
                    <td>
                        <%=detail._id%>
                    </td>
                    <td>
                        <%=detail.firstname%>
                    </td>

                </tr>
                <% }) %>

        </table>
        <table style="width:80%">
            <tr>
                <th>teacherid</th>
                <th>UserName</th>
            </tr>

            <% teachers.forEach(function(detail){ %>
                <tr>
                    <td>
                        <%=detail._id%>
                    </td>
                    <td>
                        <%=detail.firstname%>
                    </td>

                </tr>
                <% }) %>

        </table>


    </div>
</body>