<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <section>
        <div class="box" id="register">
            <h2 <font color="#0375e7">Enroll Subjects</font>
            </h2>
            <hr>
            <br>
            <div class="contentbox">
                <form class="form" action="/enrollsubject" method="POST">
                    <div class='inputbox'>
                        <input type='text' placeholder='Student id' name="sid">
                    </div>
                    <br>
                    <div class="inputbox">
                        <input type='text' placeholder='Subject Code' name="scode">
                    </div>
                    <br>
                    <div class="inputbox">
                        <input type='text' placeholder='Subject Name' name="sub_name">
                    </div>
                    <br>
                    <div class='reg'>
                        <input type='submit' value='Register'>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>